@import './neon.css';

* {
  background-color: transparent;
  color: @text;
  border: none;
  font-size: 14px;
  font-family: "0xProtoNerdFont";
  min-height: 15px;
  padding: 3px 8px;
  border-radius: 10px
}

#tray,
#cpu,
#network,
#memory,
#pulseaudio,
#bluetooth {
  min-width: 12px;
  margin: 2px 2px;
  background-color: @base;
}

#tray,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth {
  color: @text;
}

#custom-obs,
#custom-android-studio,
#custom-telegram,
#custom-vscode,
#custom-thunderbird,
#custom-lutris,
#custom-discord{
 color: @blue;
 margin:2px 2px;
}

tooltip {
  font-family: "0xProtoNerdFont";
  padding: 2px;
}
