@import './catpuccin.css';

* {
  background-color: @base;
  color: @text;
  border: none;
  font-size: 14px;
  font-family: "0xProtoNerdFont";
  min-height: 15px;
  padding: 0 5px;
  border-radius: 20px
}

#workspaces {
  border-radius: 0px;
  margin-right: 10px;
}

#workspaces button {
  background: @base;
  all: initial;
  padding: 0 8px;
  margin: 0 2px;
}

#tray,
#cpu,
#network,
#bluetooth {
  min-width: 12px;
  margin: 5px 5px;
}

#tray,
#cpu,
#network,
#bluetooth {
  color: @blue;
}

#pulseaudio {
  color: @lavender;
}

tooltip {
  font-family: "0xProtoNerdFont";
  padding: 2px;
}
